CARS/
CREDITS/
FRONTEND/
GLOBAL/
LANGUAGES/
MEMCARD/
MOVIES/
NIS/
.trex/
SCRIPTS/
remix/
SOUND/
SUBTITLES/
TRACKS/
Uninstall/
ZMenu/
ZMenuAssets/

rtx-remix/captures/

*.256
*.log
*.idb
*.bindiff
*.dll
*.cfg
*.exe
*cache

ZMenu*
ZMods*
readme.txt

NFSMWRELEASE.ELF

NFSMWRELEASE.ELF.BinExport

d3d9.asi

filelist.txt

imgui.ini

LICENSE.txt

metrics.txt

NFSMW_icon.ico

nfsmwres.ini

speed.exe.BinExport

ThirdPartyLicenses-bridge.txt

ThirdPartyLicenses-dxvk.txt

*.png

*.bak

*.exr
